
<button class="button button1"></button>
<button class="button button2"></button>
<button class="button button3"></button>
<div class="container">
    <div class="text">
        <title>Adopt, don't shop</title><h1>A true friend</h1>
        <h2>Whenever you feel sad, there might be a furry friend to wipe your tears. They always let you know you are loved.</h2>
        <h2>Let them know they are loved too.</h2>
        
    </div>
    <div class="image">
        <IMG SRC="../../assets/original.jpg" ALT="Sad puppy"> 
    </div>
</div>