
  #artlist-section {
    display: flex;
    background-color: #4a0f0f;
    justify-content: center;
    align-items: center;
    height: 1400px;

  }
  
  .card-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
  
  
  
  