<body style="margin: 0; padding: 0">
    <section id="aboutme-section" class="About">
    <div class="container">
    <div class="textme">
      <h2>Despre mine</h2>
      <p>  Hey! Numele meu este Andrada Stefania Mihailov si sunt studenta in anul 2 la Facultatea de Matematica si Informatica a Universitatii Ovidius din Constanta.</p>
      <p>Cum a aparut AMConceptx?</p>
      <p>De mica am avut o pasiune pentru desen. Am incercat sa o explorez si sa o materializez cat mai mult cu putinta.
      Desi ramane doar la stadiul de hobby, pentru mine reprezinta o iesire din monotonie si din rutina zilnica.
      Acum ceva timp am inceput sa cochetez si cu tatuajele, vazandu-le, tot din copilarie, ca un mod extraordinar de exprimare a personalitatii.
     Din cauza lipsei de timp, am pus cam orice activitate creativa in pauza.</p>
     <p> Acum sunt pregatita sa revin cu forte proaspete. Mai departe poti vedea despre ce vorbesc! </p>
  

    </div>
    <div class="imgme">
      <img src="assets\ME.jpg" >
    </div>
  </div>
  </section>
</body>