<div class="social">
    
    <a class="fb" href="https://www.facebook.com/profile.php?id=100008880817941" title="Facebook" onclick="_gaq.push(['_trackSocial', 'Facebook', 'Follow', 'Footer', 'undefined', 'True']);">
        <img width="24" height="24" alt="Follow me on Facebook" src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/fb.png">
      </a>


    <a class ="insta" target="_blank" href="https://instagram.com/andradamihailov?igshid=ZDdkNTZiNTM=" title="Instagram">
      <img width="24" height="24" alt="Follow us on Instagram" src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/instagram-badge.png">
    </a>

</div>
