<div class="social">
    
            <a class="fb" href="https://www.facebook.com/FundatiaNoroc/" title="Facebook" onclick="_gaq.push(['_trackSocial', 'Facebook', 'Follow', 'Footer', 'undefined', 'True']);">
                <img width="24" height="24" alt="Like us on Facebook" src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/fb.png">
              </a>
        
            <a class="pin" href="https://ro.pinterest.com/rescuedogsr/" title ="Pinterest" target="_blank">
              <img width="24" height="24" alt="Follow us on Pinterest" src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/pin-badge.png">
            </a>
        
            <a class ="insta" target="_blank" href="https://www.instagram.com/fundatianoroc/" title="Instagram">
              <img width="24" height="24" alt="Follow us on Instagram" src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/instagram-badge.png">
            </a>
       
</div>
